h2 {
    font-family:$headerFont;
    font-size:24px;
    font-weight: 300;
    // margin:0px;
}


.locationAddress {
    font-family: $mainFont;
    font-size:14px;
    width:50%;
    line-height:18px;
}

.logo {
    
    max-width: 650px;
    width:100%;
    float: left;
    img {
        width: 100%;
    }
}

.responsiveLogo {
    display: none;
}


