h2 {
    font-family:$headerFont;
    font-size:24px;
    font-weight: 300;
    // margin:0px;
}


.locationAddress {
    font-family: $mainFont;
    font-size:14px;
    width:50%;
    line-height:18px;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    img {
        width: 50%;
    }
}

.responsiveLogo {
    display: none;
}

.results {
   a {
        display: block;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        background-color: $orange;
        color: white;
        border:3px solid $grey;
        font-weight: 700;
        font-family: $mainFont;
        text-transform: uppercase;
        padding: 10px 20px;
        &:hover {
            background:$rose;
            color:$orange;
        }
    }
}