.authButton {
    border-radius: 15px;
    background-color: $orange;
    color: white;
    border:3px solid $grey;
    font-weight: 700;
    font-family: $mainFont;
    text-transform: uppercase;
    padding: 10px 30px;
    max-width:200px;
    width:100%;
    display:block;
    float: left;
    &:hover {
        background:$rose;
        color:$orange;
    }
}

.userStuff {
    padding:20px 25px;
}
.signOut {
    // display:block;
    // float:right;
    // margin-right:25px;
    // margin-top:15px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.logOut, .logIn {
    // padding:5px 10px;
    font-size:14px;
    // margin-bottom:5px;
}
.buttonContainer {
    display: flex;
    align-items: center;
}
.userPhoto {
    font-family:$mainFont;
    font-size:14px;
}
.userPhoto img {
    max-width:65px;
    border-radius:50%;
    display:block;
    margin: 0 auto;
}

div.welcome {
    padding: 0;
    span {
        display: inline-block;
        margin-top: 20px;
        color: #fff;
        font-size: 16px;
    }
}