$headerFont: 'Oswald', sans-serif;
$mainFont: 'Open Sans', sans-serif;

$dark: #565656;
$orange: #F7B060;
$grey: #EFEFEF;
$rose: #F0E2D8;
$orangeAlpha: #CB5C0D;
$orangeAlphaHeader: rgba(203, 92, 13, 0.856);