@import 'normalize';
@import 'variables';
@import 'search';
@import 'login';
@import 'infoWindow';
@import 'responsive';

img {
    display:block;
}

.wrapper {
    text-align: center;
    width: 100%;
    background-color: $orange;
    label {
        color: white;
        font-size: 1.2rem;
        font-weight: 900;
    }
}   
h3 {
    font-family: $headerFont;
    font-size:32px;
    font-weight: 300;
    margin:0 0 10px 0;
    text-align: center;
}
.infoPane {
    overflow: auto;
    position: absolute;
    right:0px;
    float:right;
    font-family: $mainFont;
    // border: 1px solid black;
    width: 20%;
    // max-width:400px;
    padding:0 50px;
    // padding-top: 20px;
    z-index: 9999999;
    background:$orange;
    color:white;
    min-height:100vh;
    height:100%;
    div {
        position: relative;
        line-height: 24px;
        margin-top:50px;
    }
    p {
        width:80%;
    }
}


.rightColumn {
    position: relative;
    min-height: 100vh;
    height:100%;
}

h5 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 80%;
}

.delete {
    position: absolute;
    top:1px;
    right: 1px;
    border:0;
    border-style: none;
    color:$dark;
    padding:5px 10px;
    font-size: 10px;
    &:hover,
    &:focus {
        color:$orange;
        background:$dark;
    }
}

.save {
    display: block;
    margin: 0 auto;
}